body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-image: var(--bg-img);
}
header {
  background-color: var(--bg-color);
  max-width: 920px;
  width: 75%;
  height: 10%;
  max-height: 50px;
  display: flex;
  font-size: 200%;
  color: white;
  font-family: "nanum";
  border-radius: 15px;
}

#bg-img img {
  max-width: 500px;
}

main {
  width: 75%;
  max-width: 920px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: 10px 0px;
}

#login-form {
  background-color: var(--bg-color);
  width: 100%;
  height: 8vh;
  max-height: 80px;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#login-form form {
  display: inherit;
  width: inherit;
  height: inherit;
}
#login-form input:first-child {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 30%;
  margin: 0px 10px;
}
#login-form input:last-child {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 15%;
}
#login-form input:last-child:hover {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: white;
}

#greeting-user {
  background-color: var(--bg-color);
  width: 100%;
  height: 8vh;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.quote-and-img {
  background-color: var(--bg-color);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#bg-img {
  opacity: 0.4;
  width: 100%;
}
#bg-img img {
  border-radius: 15px;
  width: 100%;
}
.quote {
  position: absolute;
  font-size: 150%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
#running-form {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: flex-start;
  border-bottom-left-radius: 15px;
  padding: 10px 5px;
}
#running-input__km,
#running-input__time {
  width: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
#running-form input:last-child {
  border: none;
  padding: 5px 5px;
  width: 30%;
  font-size: 1.5vw;
  margin-bottom: 15px;
}
.running-list,
.todo-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}
.running-list::-webkit-scrollbar,
.todo-list::-webkit-scrollbar {
  display: none;
}
.running-list li,
.todo-list li {
  font-size: 1.5vw;
}
.running-list li button,
.todo-list li button {
  border-radius: 50%;
  border: none;
  background: none;
  color: greenyellow;
  cursor: pointer;
}
#todo-form {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-color);
  border-bottom-right-radius: 15px;
  padding: 10px 5px;
  align-items: center;
}
#todo-form form {
  display: flex;
  flex-direction: column;
}
#todo-input {
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
#todo-form form input:last-child {
  margin: 10px;
  border: none;
  padding: 5px 5px;
  width: 40%;
  font-size: 1.5vw;
  margin-bottom: 15px;
  border-radius: 10px;
}
p,
span {
  font-size: clamp(8px, 2vw, 20px);
}
#time {
  font-size: clamp(18px, 3vw, 40px);
}

input {
  font-size: clamp(8px, 2vw, 20px);
}
.quote p {
  font-size: clamp(10px, 3vw, 35px);
}
